// bower:scss
@import "bower_components/neat/core/_neat.scss";
// endbower

@import "base/_reset.scss";
@import "base/_colors.scss";
@import "base/_grid.scss";
@import "base/_typography.scss";
@import "base/_variables.scss";
@import "components/_buttons.scss";
@import "components/_icons.scss";
@import "components/_navigation.scss";
@import "components/_title.scss";
@import "partials/_contact.scss";
@import "partials/_projects.scss";
@import "partials/_tldr.scss";
@import "partials/_welcome.scss";

html, .root {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  height: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0 auto;
  background: $grey-light-25;
}

footer {
  margin-top: 32px;
  padding: 24px 0;
  text-align: center;
  background-color: $grey-dark;
  color: $grey-light;
}