$greyer: #414141;
$grey: #808080;
$grey-light: #d9d9d9;
$grey-dark: #1a1a1a;
$grey-dark-50: rgba(26, 26, 26, 0.5);
$grey-light-25: rgba(217, 217, 217, 0.25);
$greyer-0: rgba(65, 65, 65, 0);
$greyer-50: rgba(65, 65, 65, 0.5);
$greyer-95: rgba(65, 65, 65, 0.95);