.contact {
  .contact-info {
    text-align: center;

    p {
      @media #{$medium-up} {
        @include grid-column(6);
      }

      text-align: left;
      margin: 32px 16px;
    }

    a {
      margin-bottom: 64px;
    }
  }
}