.boxed {
  position: relative;
  z-index: 1;
  padding: 0 8px;
  background-color: #fff;
  box-shadow: $shadow;
}

.profile {
  @include grid-container;

  .section-title {
    display: block;
  }

  .profile-info {
    @media #{$medium-up} {
      @include grid-column(3);
      top: -5em;
      float: right;
      margin-bottom: -4em;
    }
    position: relative;

    .avatar {
      display: block;
      margin: 0 auto;
    }

    .attached {
      margin: 0 auto;
      position: relative;
      top: -1em;
    }
  }

  .profile-stack-box {
    @media #{$medium-up}{
      @include grid-column(3);
    }
    display: block;
  }

  .profile-stack-title {
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .profile-experience {
    li {
      margin-bottom: 16px;
    }
  }
}